terratowns_endpoint="https://terratowns.cloud/api"
e30m3 = {
  public_path = "/workspace/terraform-beginner-bootcamp-2023/public/arcanum"
  content_version = 2 
}
e36m3 = {
  public_path = "/workspace/terraform-beginner-bootcamp-2023/public/e36m3"
  content_version = 1 
}